<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" >{{"New Calibration" | translate}}</a>
      <a class="navbar-item" >{{"Detailed Results" | translate}}</a>
      <a class="navbar-item active" >{{"Default Files" | translate}}</a>
      <select (change)="ChangeLanguage($event)">
        <option [selected]="language==='english'" value="english">English</option>
        <option [selected]="language==='french'" value="french">French</option>
        <option [selected]="language==='japanese'" value="japanese">Japanese</option>
        <option [selected]="language==='italian'" value="italian">Italian</option>
      </select>
    </div>
  </div>
</nav>
